{
    "networks": {
        "ropsten": {
            "url": "https://speedy-nodes-nyc.moralis.io/..."
        },
        "development": {
            "host": "127.0.0.1",
            "port": 8545,
            "network_id": "5777"
        },
        "bsctestnet": {
            "url": "https://data-seed-prebsc-1-s1.binance.org:8545"
        }
    },
    "mnemonic": "...",
    "apiKeys": {
        "BSCCANAPIKEY": "...."
    }
}
